@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.container{
    max-width: 500px;
    margin-top: 50px;
}

.kitchen-title{
    text-align: center;
    font-size: 30px;
}

.kitchen-header{
    margin: 30px 0 20px;
    display: flex;
}

.kitchen-header input{
    height: 42px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: none;
}

.kitchen-header button{
    font-size: 18px;
    height: 42px;
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    transition: 0.3s;
}

.kitchen-header button:hover{
    background-color: rgba(0,0,0,0.8);
}

.kitchen-items-list{
    text-align: left;
    list-style: none;
    perspective: 1000px;
}

.kitchen-items-list li{
    background-color :#ffac81;
    background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
    padding: 10px 15px;
    margin: 4px 0;  
    font-size: 18px;
    font-weight: 700;
    color: black;
    animation: 0.3s ease-in-out;
    /* animation-name: slideIn; */
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: rotateX(60deg) translateY(-10px);
    }
    to{
        opacity: 1;
        transform:rotateX(0deg) translateY(0px);
    }
}


